header{
	width:100%;
	height:236px;	
	position:relative;
}
.header-public{
	width:100%;
	height:26px;
	background-color:#f2f2f2;
	border-bottom:1px solid #e5e5e5;
}
.public{
	width:1190px;
	height:26px;
	margin:0 auto;
	
}
.public-text{
	float:left;
}
.public-left{
	float:left;
}
.public-right{
	float:right;
}
.public-pic{
	width:12px;
	height:11px;
	margin-top:8px;
	margin-right:3px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px 0px;
	overflow: hidden;
}
.public-pic1{
	width:6px;
	height:4px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0 -14px;
	overflow: hidden;
	margin-top:12px;
}
.public-pic2{
	width:12px;
	height:10px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -1px -18px;
	overflow: hidden;
	margin-left:17px;
}
.public-pic3{
	width:13px;
	height:12px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -1px -31px;
	overflow:hidden;
	margin-left:20px;
}
.public-pic4{
	width:8px;
	height:12px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -1px -46px;
	overflow:hidden;
}
.public-pic5{
	width:12px;
	height:12px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -1px -61px;
}

.head-sideBar{
	width:25px;
	height:688px;
	background-color: #000000;
	position:absolute;
	top:0;
	right:0;
	padding:255px 5px 0px 5px;
}
.sideBar-pic{
	width:25px;
	height:12px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0 -89px;
	overflow: hidden;
}
.sideBar-shop{
	width:19px;
	height:56px;
	border:1px solid #CCCCCC;
	border-left:none;
	border-right:none;
	margin-top:20px;
	padding-left:6px;
	padding-top:42px;
	position:relative;
}
.shop-pic{
	width:25px;
	height:15px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -106px;
	position:absolute;
	top:19px;
	left:1px;
}
.shop-pic1{
	width:25px;
	height:18px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -127px;
	position:absolute;
	top:403px;
	left:5px;
}
.shop-pic2{
	width:25px;
	height:15px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -149px;
	position:absolute;
	top:448px;
	left:5px;
}
.shop-pic3{
	width:25px;
	height:17px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -168px;
	position:absolute;
	top:490px;
	left:5px;
}
.shop-pic4{
	width:25px;
	height:19px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -190px;
	position:absolute;
	top:532px;
	left:5px;
}
.shop-pic5{
	width:25px;
	height:20px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -213px;
	position:absolute;
	top:574px;
	left:5px;
}
.shop-pic6{
	width:25px;
	height:16px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -240px;
	position:absolute;
	top:847px;
	left:5px;
}
.shop-pic7{
	width:25px;
	height:15px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -262px;
	position:absolute;
	top:883px;
	left:5px;
}
.header-content{
	height:201px;
}
.hearder-line{
	height:85px;
	border-bottom:1px solid #c8baaa;
}
.head-search{
	width:1190px;
	height:85px;
	margin:0px auto;
}
.header-title{
	width:650px;
	height:38px;
	margin-top:15px;
}
.search-pic{
	width:120px;
	height:38px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -275px -144px;
	text-indent:-999px;
	
}
.search-line{
	width:1px;
	height:38px;
	background-color: #CCCCCC;
	
}
.official{
	width:111px;
	height:38px;
	
}
.ofc-ico{
	width:110px;
	height:20px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -161px -144px;
}
.ofc-ico1{
	width:42px;
	height:16px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -186px -86px;
	margin-left:10px;
}
.ofc-ico2{
	width:16px;
	height:16px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0 -383px;
	margin-left:8px;
}
.search-pic1{
	width:152px;
	height:38px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -175px -361px;
}
.text-ico{
	width:18px;
	height:17px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -249px -84px;
	margin-left:17px;
	
}
.text1{
	height:20px;
	line-height:20px;
	margin-left:10px;
}
.search-box{
	width:460px;
	height:36px;
	margin-top:19px;
	color:#fff;
}
.search-box_1{
	width:375px;
	height:30px;
	border:3px solid #0061C4;
	
}
.search-box_2{
	width:79px;
	height:36px;
	background-color: #0061C4;
	color:#fff;
}
.search-box_3{
	width:80px;
	height:36px;
	background-color: #333333;
	color:#fff;
	margin-top:19px;
}
.header-bottom{
	height:115px;
	width:1190px;
	margin:0 auto;
}
.bottom-title{
	width:639px;
	height:115px;
}
.title-ofc{
	width:293px;
	height:22px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -172px -335px;
	text-indent:-999px;
	margin-top:49px;
	margin-left:102px;
}
.title-ico{
	width:50px;
	height:22px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -272px -82px;
	margin-top:49px;
}
.bottom-right{
	width:233px;
	height:115px;
}
.nav-bg{
	height:30px;
	background-color: #009ff8;
}
.nav{
	width:1190px;
	height:30px;
	margin:0 auto;
	line-height:30px;
}
.nav-ico{
	width:80px;
	height:35px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -245px -107px;
	margin-top:-5px;
	text-indent:-999px;
	margin-left:100px;
}
.nva-text{
	font-size:14px;
	color:#fff;
}
.nav-line{
	width:1px;
	height:14px;
	background-color: #fff;
	margin-left:25px;
	margin-right:25px;
	margin-top:8px;
}
.content{
	width:1170px;
	height:789px;
	margin:0 auto;
	padding-left:20px;
	padding-top:40px;
}
.phone1 {
	width:418px;
	height:418px;
	border:1px solid #EDEDED;
	margin-bottom:22px;
}
.content-left{
	width:420px;
	height:789px;
}
.content-right{
	width:730px;
	height:789px;
	padding-left:20px;
}
