header{
	width:100%;
	height:158px;	
	border-bottom:1px solid #0f64c2;
	position:relative;
}
.header-public{
	width:100%;
	height:26px;
	background-color:#f2f2f2;
	border-bottom:1px solid #e5e5e5;
}
.public{
	width:1190px;
	height:26px;
	margin:0 auto;
	
}
.public-text{
	float:left;
}
.public-left{
	float:left;
}
.public-right{
	float:right;
}
.public-pic{
	width:12px;
	height:11px;
	margin-top:8px;
	margin-right:3px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px 0px;
	overflow: hidden;
}
.public-pic1{
	width:6px;
	height:4px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0 -14px;
	overflow: hidden;
	margin-top:12px;
}
.public-pic2{
	width:12px;
	height:10px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -1px -18px;
	overflow: hidden;
	margin-left:17px;
}
.public-pic3{
	width:13px;
	height:12px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -1px -31px;
	overflow:hidden;
	margin-left:20px;
}
.public-pic4{
	width:8px;
	height:12px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -1px -46px;
	overflow:hidden;
}
.public-pic5{
	width:12px;
	height:12px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -1px -61px;
}
.header-content{
	width:1190px;
	height:131px;
	margin:0 auto;
}
.head-search{
	width:1190px;
	margin-bottom:6px;	
}
.search-pic{
	width:145px;
	height:40px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -215px 0px;
	margin-top:30px;
	text-indent:-9999px;
}
.search-box{
	width:600px;
	height:64px;
	margin-left:135px;
	margin-top:29px;
	
}
.search{
	width:600px;
	height:36px;
}
.search-circle{
	width:504px;
	height:30px;
	border:3px solid #296ecc;
	outline:none;
}
.search-btn{
	width:87px;
	height:36px;
	background-color: #296ECC;
	outline:none;
}
.search-text{
	height:28px;
	line-height:28px;
}
.header-nav{
	width:1160px;
	height:32px;
	line-height:32px;
	/*border-bottom:1px solid #0f64c2;*/
	padding-left:30px;
}
.head-sideBar{
	width:25px;
	height:688px;
	background-color: #000000;
	position:absolute;
	top:0;
	right:0;
	padding:255px 5px 0px 5px;
}
.sideBar-pic{
	width:25px;
	height:12px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0 -89px;
	overflow: hidden;
}
.sideBar-shop{
	width:19px;
	height:56px;
	border:1px solid #CCCCCC;
	border-left:none;
	border-right:none;
	margin-top:20px;
	padding-left:6px;
	padding-top:42px;
	position:relative;
}
.shop-pic{
	width:25px;
	height:15px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -106px;
	position:absolute;
	top:19px;
	left:1px;
}
.shop-pic1{
	width:25px;
	height:18px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -127px;
	position:absolute;
	top:403px;
	left:5px;
}
.shop-pic2{
	width:25px;
	height:15px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -149px;
	position:absolute;
	top:448px;
	left:5px;
}
.shop-pic3{
	width:25px;
	height:17px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -168px;
	position:absolute;
	top:490px;
	left:5px;
}
.shop-pic4{
	width:25px;
	height:19px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -190px;
	position:absolute;
	top:532px;
	left:5px;
}
.shop-pic5{
	width:25px;
	height:20px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -213px;
	position:absolute;
	top:574px;
	left:5px;
}
.shop-pic6{
	width:25px;
	height:16px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -240px;
	position:absolute;
	top:847px;
	left:5px;
}
.shop-pic7{
	width:25px;
	height:15px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -262px;
	position:absolute;
	top:883px;
	left:5px;
}
.background{
	width:100%;
	height:161px;
	background-color:#17181d;
	margin-bottom:10px;
}
.bg-content{
	width:1190px;
	height:160px;
	margin:0 auto;
	position:relative;
}
.bg-pic2{
	width:277px;
	height:131px;
	background: url(../img/未标题-1111111.png) no-repeat;
	position:absolute;
	left:0;
	top:20px;
}
.bg-pic3{
	width:104px;
	height:33px;
	background: url(../img/tianmaoxuebitu.png) no-repeat  -261px -43px;
	position:absolute;
	right:337px;
	bottom:35px;
}
.content{
	width:1190px;
	margin:0px  auto 10px;
}
.part{
	width:1190px;
	height:45px;
	border-top:1px solid #e5e5e5;
	margin:0 auto;
}
.part-sanjiao{
	width:5px;
	height:9px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0px -76px;
}
.bor-red{
	width:107px;
	height:22px;
	border:1px dotted #C40000;
	padding-left:9px;
	position:relative;
	margin-top:7px;
	
}
.bor-red a{
	line-height:22px;
}
.pic-cha{
	width:7px;
	height:7px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -7px -76px;
	position:absolute;
	top:8px;
	right:9px;
}
.part-search{
	width:162px;
	height:20px;
 	position: relative;
 	margin-top:7px;
}
.kuang{
	width:162px;
	height:20px;
	border:1px solid #CCCCCC;
	outline:none;
}
.search-ico{
	width:14px;
	height:13px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0 -354px;
	position:absolute;
	top:6px;
	right:10px;
}
.part1{
	width:1190px;
	height:34px;
	border:1px solid #d1ccc7;
	margin:0 auto;
	line-height:34px;
}
.part1-fenlei{
	width:118px;
	height:34px;
	background-color: #f7f5f5;
}
.fenlei-ico{
	width:5px;
	height:9px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -246px -45px;
	overflow: hidden;
	vertical-align: top;
}
.part1-ico{
	width:9px;
	height:5px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -205px -79px;
	overflow: hidden;
}
.part1-right{
	margin-right:10px;
}
.part2{
	height:32px;
	line-height:32px;
	margin:0 auto;
}
.part2-ico{
	vertical-align: 3px;
}
.part3{
	width:1190px;
	height:24px;
	background-color: #faf9f9;
	padding-left:4px;
	padding-top:5px;
	padding-bottom:5px;
}
.part3-ico{
	
}
.ico-item{
	width:44px;
	height:22px;
	border:1px solid #cccccc;
}
.ico-pic{
	width:7px;
	height:8px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -203px 0px;
	overflow: hidden;
}
.ico-pic1{
	width:7px;
	height:8px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -203px -10px;
	overflow: hidden;
}
.ico-pic2{
	width:8px;
	height:4px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -202px -20px;
	overflow: hidden;
}
.ico-pic3{
	width:8px;
	height:4px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -202px -25px;
	overflow: hidden;
	margin-top:2px;
}
.part3-ico1{
	width:113px;
	height:22px;
	border:1px solid #ccc;
}
.add{
	width:52px;
	height:22px;
    line-height:22px;
}
.price{
	width:100px;
	height:22px;
	border:1px solid #CCCCCC;
	margin:0px 5px;
}
.price-left{
	width:45px;
	height:22px;
	border-right:1px solid #ccc;
}
.price-right{
	width:45px;
	height:22px;
	border-left:1px solid #ccc;
}
.price-ico{
	width:7px;
	height:9px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -203px -32px;
	margin-left:3px;
	margin-top:7px;
	overflow: hidden;
}
.price-line{
	width:6px;
	height:1px;
	background-color: #CCCCCC;
	margin-top:11px;
	margin-left:1px;
	overflow: hidden;
}
.checkbox{
	width:255px;
	height:22px;
	border:1px solid #CCCCCC;
	margin-right:5px;
	line-height:22px;
}
.checkbox-item{
	vertical-align: 3px;
}
.checkbox-ico{
	width:9px;
	height:5px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -205px -79px;
	overflow: hidden;
	margin-left:5px;
	margin-top:10px;
	margin-right:8px;
}
.picture{
	width:137px;
	height:22px;
	line-height:22px;
	border:1px solid #CCCCCC;
}
.pic-item{
	width:45px;
	height:22px;
}
.pic-ico{
	width:9px;
	height:9px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -202px -44px;
	margin:7px 2px 0px 2px;
}
.pic-ico1{
	width:9px;
	height:9px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -217px -44px;
	margin:7px 2px 0px 2px;
}
.pic-ico2{
	width:9px;
	height:9px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -231px -44px;
	margin:7px 2px 0px 2px;
}
.fanye-text{
	height:22px;
	line-height:22px;
}
.fanye-ico{
	width:21px;
	height:20px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -204px -57px;
	margin-left:4px;
}
.fanye-ico1{
	width:21px;
	height:20px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -230px -57px;
	margin-right:5px;
	margin-left:3px;
}
.shopping{
	width:1180px;
	margin:0 auto;
	padding:0px 5px;
}
.shopping-list{
	width:1180px;
	height:397px;
	margin-top:15px;
	
}
.list-item{
	width:210px;
	height:395px;
	border:1px solid #CCCCCC;
	padding-left:4px;
	padding-right:4px;
	margin-right:20px;
}
.phone{
	width:210px;
	height:258px;
}
.phone-pic{
	width:210px;
	height:224px;
}
.phone-ico{
	width:32px;
	height:32px;
	border:1px solid #CCCCCC;
}
.phone-price{
	height:39px;
	line-height:39px;
}
.price-ico1{
	width:8px;
	height:10px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -253px -44px;
	margin-top:15px;
	margin-right:2px;
	overflow: hidden;
}
.shopstore{
	height:30px;
	line-height:30px;
}
.phone-inf{
	height:36px;
	line-height:18px;
}
.shopstore-ico{
	width:14px;
	height:14px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0 -368px;
}
.deal{
	width:210px;
	height:34px;
	border-top:1px solid #CCCCCC;
}
.deal-item{
	height:32px;
	width:159px;
	border-right:1px solid #CCCCCC;
}
.deal-ico{
	width:16px;
	height:16px;
	background: url(../img/tianmaoxuebitu.png) no-repeat 0 -383px;
	margin-left:19px;
	margin-top:8px;
	
}
.fanye1{
	width:1190px;  
	height:61px;
	margin:0 auto;
	padding-top:44px;
	position:relative;
	
}
.fanye-box{
	height:40px;
	margin-left:403px;
	line-height:38px;
}
.fanye-item{
	width:189px;
	height:38px;
	border:1px solid #e5e5e5;
	background-color:#efefef;
	text-align:center;
}
.item-top{
	width:66px;
	height:38px;
	border-right:1px solid #e5e5e5;
	padding-left:10px;
}
.shuzi{
	width:35px;
	
	text-align:center;
}
.item-bottom{
	width:66px;
	height:38px;
	border-left:1px solid #e5e5e5;
	padding-left:10px;
}
.shuru{
	width:32px;
	height:18px;
	outline:none;
	border:1px solid #e5e5e5;
	text-align:center;
	margin:0 3px;
}
.tijiao{
	width:44px;
	height:18px;
	border:1px solid #e5e5e5;
	outline:none;
	background: url(../img/tianmaoxuebitu.png) repeat-x -13px 0px ;
}
.fanye-pic{
	width:70px;
	height:23px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -85px -293px;
	position:absolute;
	top:21px;
	left:510px;
}
#find{
	width:1188px;
	height:28px;
	border:1px solid #e5e5e5;
	line-height:28px;
	margin:0 auto;
}
.find-text{
	margin-left:10px;
	margin-right:42px;
	
}
.find-line{
	width:1px;
	height:16px;
	background-color: #CCCCCC;
	float:left;
	margin:7px 15px 0px 15px;
	overflow:hidden;
}
#shopstore-bottom{
	height:383px;
	width:1190px;
	margin:0 auto;
}
.shopstore-bottom_title{
	width:1190px;
	height:49px;
	line-height:46px;
}
.shopstore-bottom_sell{
	width:1183px;
	height:334px;
	padding-left:3px;
	padding-right:4px;
}
.sell-item{
	width:221px;
	height:328px;
	border:1px solid #CCCCCC;
	padding:4px 4px 0px 4px;
	margin-right:7px;
}
.sell-ico{
	width:219px;
	height:220px;
	border:1px solid #999999;
	display:inline-block;
}
.sell-ico1{
	width:8px;
	height:10px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -253px -44px;
}
.sell-shopstore{
	height:26px;
	line-height:26px;
}
.sell-deal{
	width:212px;
	height:28px;
	line-height:28px;
	border-top:1px solid #CCCCCC;
}
.sell-deal_item{
	width:106px;
	height:28px;
	border-right:1px solid #CCCCCC;
}
.search-bottom{
	height:57px;
	width:860px;
	background-color: #CCCCCC;
	margin:0 auto;
	margin-top:47px;
	margin-bottom:18px;
	padding-left:330px;
	padding-top:27px;
}
.search-bottom_bg{
	width:526px;
	height:26px;
	border:3px solid #ba1324;
	
}
.search-bottom_sousuo{
	width:429px;
	height:26px;
}
.search-bottom_tijiao{
	width:97px;
	height:26px;
	border:1px solid #62584c;
	background-color: #51322b
	
}
.fankui{
	width:1190px;
	height:36px;
	line-height:36px;
	margin:0 auto;
}
.fankui-ico{
	width:16px;
	height:14px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -165px -89px;
}
footer{
	width:100%;
	height:607px;
	border-top:1px solid #ededed;
}
.customer{
	width:1190px;
	height:363px;
	margin:0 auto;
}
.you{
	width:303px;
	height:150px;
	position:relative;
	
}
.pic-you{
	width:50px;
	height:50px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -31px -237px;
	position:absolute;
	left:40px;
	top:50px;
}
.customer-text{
	
	height:50px;
	line-height:25px;
	position:absolute;
	left:117px;
	top:52px;
}
.pic-line{
	width:1px;
	height:45px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -213px -4px;
	position:absolute;
	left:302px;
	top:55px;
}
.customer-top{
	width:1220px;
	height:150px;
	
}
.customer-bottom{
	width:1138px;
	height:191px;
	position:relative;
	padding-top:21px;
	/*padding-left:52px;*/
	border-top:1px solid #EDEDED;
}
.pic-bottom{
	width:70px;
	height:23px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -85px -293px;
	position:absolute;
	bottom:0px;
	left: 49px;
}
.bottom-text{
	width:202px;
	height:180px;
}
.bottom-text1{
	width:100px;
	height:180px;
}
.customer-bottom_pic{
	width:119px;
	height:41px;
	margin-right:102px;
	margin-top:5px;
}
dt{
	height:32px;
	line-height:32px;
}
dd{
	height:20px;
	line-height:20px;
}
.web{
	width:98px;
	height:98px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -62px -92px;
}
.copyRight-wrap{
	height:242px;
	border-top:2px solid #c40000;
	background-color:#0061c4;
}
.copyRight{
	width:1180px;
	height:232px;
	margin:0 auto;
	padding-top:12px;
	padding-left:10px;
	position:relative;
	
}
.copyRight-rext{
	height:25px;
	line-height:25px;
}
.copyRight-rext1{
	height:50px;
	line-height:25px;
}
.copyRight-note{
	width:1190px;
	margin-top:9px;
	line-height:20px;
}
.gongshang{
	width:73px;
	height:30px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -87px -328px;
	position:absolute;
	left:10px;
	top:165px;
}
.wenhua{
	width:80px;
	height:30px;
	position:absolute;
	left:97px;
	top:165px;
	background: url(../img/tianmaoxuebitu.png) no-repeat -88px -366px;
}


